<div class="be-wrapper be-login">
  <div class="main-content container-fluid">
    <div class="splash-container">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header login-header m-0">
          <%= image_tag "logo-2.png" %>
          <span class="splash-description">Please enter your user information.</span></div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="login-form">
              <div class="form-group">
                <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
              </div>
              <div class="form-group row login-tools">
                <% if devise_mapping.rememberable? -%>
                  <div class="col-6 login-remember">
                    <%= f.label :remember_me, class: "custom-control custom-checkbox" do %>
                      <%= f.check_box :remember_me, class: "custom-control-input" %>
                      <span class="custom-control-label">Remember Me</span>
                    <% end %>
                  </div>
                <% end -%>
                <div class="col-6 login-forgot-password">
                  <%= link_to 'Forgot Password?', new_password_path(resource_name) %>
                </div>
              </div>
              <div class="form-group row login-submit">
                <div class="col-6">
                  <%= f.submit "Login", class: "btn btn-secondary btn-xl" %>
                </div>
                <div class="col-6">
                  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-xl" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "api/v1/users/shared/links" %>
<% end %>